/*====== PROJECT FONTS ======*/

/* === ORBITRON === */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

/* === RAJDHANI === */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


/*====== OVERALL SECTIONS CASCADING STYLE SHEETS ======*/
@import url(./sections/header/header.css);
@import url(./sections/footer/footer.css);

/*====== MAIN SECTIONS CASCADING STYLE SHEETS ======*/
@import url(./sections/home-landing/home-landing.css);
@import url(./sections/whoami/whoami.css);
@import url(./sections/projects/projects.css);

/*====== BLOG SECTIONS CASCADING STYLE SHEETS ======*/
@import url(./sections/blog-landing/blog-landing.css);
@import url(./sections/blog-main/blog-main.css);

/*====== JOIN BLOG SECTIONS CASCADING STYLE SHEETS ======*/
@import url(./sections/blog-join/blog-join.css);

/*====== CONTACT CASCADING STYLE SHEETS ======*/
@import url(./sections/contact/contact.css);


:root {
    /*=== PROJECT COLORS ===*/ 
    --primary-color: #EEEDEF;
    --secondary-color: #191A19;

    --red-enchanted: #DE2B2D;
    --red-enchanted-low-opacity: rgba(222, 43, 45, 0.5);
    --green-enchanted: #0CFF0C;

    /*=== PROJECT FONTS ===*/ 
    --orbitron: 'Orbitron', sans-serif;
    --rajdhani: 'Rajdhani', sans-serif;
}


/*=== GLOBAL PROJECT CLASS ATTRIBUTES  ===*/ 

.dark-theme {
    --primary-color: #191A19;
    --secondary-color: #EEEDEF;
}

.bolder {
    font-weight: 700;
}

.handler-letter-spacing {
    letter-spacing: normal;
}

.landing-container {
    padding: 280px 0 50px 0;
    margin: 0 auto;

    height: 90vh;
    width: 100vw;
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.landing-footer {
    margin: 0 auto;
    padding: 0 15px;

    width: 100%;
    max-width: 1440px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.landing-footer p {
    font-size: 1.05em;
    font-weight: 500;
    letter-spacing: .1em;
}

.server-right-msg {
    margin: 10px 0;

    font-weight: 700;

    color: var(--green-enchanted);
}

.server-error-msg {
    margin: 10px 0;

    font-weight: 700;

    color: var(--red-enchanted);
}

.client-form-control-success {
    border: none;
    border-bottom: 1px solid var(--green-enchanted);
}

.client-form-control-error {
    border-bottom: 1px solid var(--red-enchanted);
}


/*=== GLOBAL PROJECT ELEMENT STYLING  ===*/ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--rajdhani);
    
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0 auto;

    min-width: 320px;

    background-color:  var(--primary-color);
    color:  var(--secondary-color);

    overflow: hidden;
}

ul, ol, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

h1 {
    font-family: var(--orbitron);
}

h1, h2, h3, h4, p, a {
    text-transform: uppercase;
}

h2 {
    font-weight: 500;
    letter-spacing: .35em;
    text-indent: -.35em;
}

main {
    display: block;
}

input {
    outline: none;
    border: none;

    color: var(--secondary-color);
    font-family: var(--rajdhani);
    background-color: var(--primary-color);
    
    border-bottom: 1px solid var(--secondary-color);
}

.form-client-error-message {
    font-weight: 700;
    color: var(--red-enchanted);
}


/*=== GLOBAL PROJECT MEDIA SCREEN STYLING  ===*/ 

@media screen and (max-width: 700px) {
    .landing-container {
        padding: 0;

        height: 85vh;
        
        justify-content: space-around;
    }

    .landing-footer {
        padding: 0;
        
        width: 80%;

        overflow: hidden;
    }
    
}

