#blog-landing {
    padding: 70px 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


#blog-landing nav {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#blog-landing nav ul {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#blog-landing nav ul li a {
    color: var(--secondary-color);
    font-weight: 500;
    letter-spacing: .1em;
    text-indent: -.1em;
    font-size: 1.05em;
}

#blog-landing header {
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 50px;
    text-align: center;
}

#blog-landing header #blog-heading {
    font-size: 6em;
    letter-spacing: .15em; 
    font-weight: 500;
}

#blog-landing header ul {
    width: 36%;

    padding-right: 14px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#blog-landing header ul li a {
    color: var(--secondary-color);
}

#author-name {
    font-size: .9em;
    font-weight: 500;
}

#blog-landing .landing-footer {
    margin: 0 auto;

    width: 100%;
    padding: 0 15px;
    max-width: 1440px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}

#blog-landing .landing-footer p {
    letter-spacing: .1em;
    font-weight: 500;
    font-size: 1.05em;
}