#login {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login h2 {
    margin-bottom: 50px;

    letter-spacing: .2em;
    margin-right: .2em;
}

#log-form {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 50%;
}

#log-form #client-error-login {
    margin-bottom: 15px;
}


#log-form input {
    width: 50%;
    margin-bottom: 55px;
}

#log-form button {
    width: 16%;
    margin-bottom: 35px;
}

@media screen and (max-width: 1200px){
    #log-form {
        width: 70%;
    }
    
    #log-form button {
        width: 18%;
    }
}

@media screen and (max-width: 940px){
    #log-form {
        width: 100%;
    }
    
    #log-form #client-error-login {
        margin-bottom: 15px;
    }
    
    
    #log-form input {
        width: 50%;
        margin-bottom: 55px;
    }
    
    #log-form button {
        width: 18%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 470px){
    #log-form {
        width: 100%;
    }

    #login h2 {
        margin-top: 100px;
    }

    #log-form input {
        width: 70%;
    }
    
    #log-form button {
        width: 28%;
    }
}
