#landing-page {
    padding: 70px 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#landing-page nav {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#landing-page nav ul {
    width: 60%;
    padding-right: 76px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#landing-page nav ul li a {
    color: var(--secondary-color);
    font-weight: 500;
    letter-spacing: .1em;
    text-indent: -.1em;
    font-size: 1.05em;
}

#landing-page header {
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 50px;
    text-align: center;
}

#theme-changer {
    cursor: pointer;
}

#landing-page header #project-name {
    font-size: 6em;
    letter-spacing: .15em; 
    font-weight: 500;
}

#landing-page header #project-name #handler-letter-spacing {
    letter-spacing: normal;
}


#landing-page header #project-name #red-dot {
    color: var(--red-enchanted);
    letter-spacing: normal;
}

#author-name {
    font-size: .8em;
    font-weight: 500;
}

#landing-page .landing-footer {
    margin: 0 auto;

    width: 100%;
    padding: 0 15px;
    max-width: 1440px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#landing-page .landing-footer p {
    letter-spacing: .1em;
    font-weight: 500;
    font-size: 1.05em;
}

/*
#landing-page {
 
}

@media screen and (max-width: 600px) {

}
@media screen {}
@media screen {}
*/