#socials {
    margin: 0 auto;
    height: 20vh;
    width: 80%;
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#socials h2 {
    letter-spacing: .35em;
    font-weight: 500;
    text-indent: -.35em;
}

#socials #socials-wrapper {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#socials #socials-wrapper img {
    width: 35px;
    opacity: .5;

    transition: all .3s ease-in;
}

#socials #socials-wrapper img:hover, #socials #socials-wrapper img:focus {
    opacity: 1;
}

