#whoami {
    padding: 80px 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#main-content {
    width: 100%;
    max-width: 1440px;

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 80px;
}

#main-content img {
    width: 448px;
}

#about-author-content {
    padding: 50px 0;
    
    height: 100%;
    max-width: 50%;
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#lines-content {
    padding-bottom: 6px;
    
    font-weight: 500;
    letter-spacing: .44em;
    font-size: 1.1em;
}

#about-author-heading {
    padding-bottom: 15px;

    letter-spacing: .2em;
    font-weight: 700;
}

#about-author-text {
    padding-bottom: 15px;

    max-width: 80%;

    line-height: 1.3em;
    letter-spacing: .1em;
    font-weight: 500;
}

#additional-text {
    padding-bottom: 18px;
    max-width: 80%;

    line-height: 1.3em;
    letter-spacing: .1em;
    font-size: .9em;
}

#about-author-footer {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#about-author-footer a {
    padding: 8px 12px;

    font-size: .9em;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: var(--primary-color);

    letter-spacing: .05em;
    font-weight: 500;

    transition: all .4s ease-in-out;
}

#about-author-footer a:hover, #about-author-footer a:focus {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

#whoami-footer {
    width: 100%;
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#where-to-find-me {
    padding-bottom: 15px;
    letter-spacing: .35em;
    font-weight: 500;
    text-indent: -.35em;
}

#social-links-wrapper {
    width: 80%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#social-links-wrapper .socials-wrapper-first, #social-links-wrapper .socials-wrapper-second {
    padding: 15px 25px 0 25px;
    width: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#social-links-wrapper .socials-wrapper-first img,  #social-links-wrapper .socials-wrapper-second img {
    width: 35px;
    opacity: .5;

    transition: all .3s ease-in;
}

#social-links-wrapper .socials-wrapper-first img:hover, #social-links-wrapper .socials-wrapper-first img:focus, #social-links-wrapper .socials-wrapper-second img:hover, #social-links-wrapper .socials-wrapper-second img:focus{
    opacity: 1;
}

/* Resposivity for smaller screens */ 

@media screen and (max-width: 1200px) {
    #about-author-footer {
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #main-content img {
        width: 351px;
    }

}

@media screen and (max-width: 1100px) {
    #about-author-content {
        padding: 0 0;
    }
}

@media screen and (max-width: 975px) {
    #lines-content {
        display: none;
    }

    #whoami {
        height: 130vh;
    }

    #about-author-content {
        padding: 0 0;

        align-items: center;
        text-align: center;
    }

    #main-content {
        width: 100%;
        max-width: 1440px;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;

        text-align: center;
        gap: 80px;
    }

    #about-author-footer {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #about-author-footer a {
        padding: 6px 8px;
    
        font-size: .7em;
    }
}


@media screen and (max-width: 775px) {
    #whoami {
        height: 140vh;
    }

    #where-to-find-me {
        padding-top: 15px;
    }
}

@media screen and (max-width: 735px) {
    #whoami {
        height: 140vh;
    }

    #about-author-heading {
        font-size: .9em;
    }
    
    #about-author-text {
        font-size: .9em;
    }
    
    #additional-text {
        font-size: .8em;
    }

    #social-links-wrapper {
        width: 80%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #social-links-wrapper .socials-wrapper-first, #social-links-wrapper .socials-wrapper-second {
        width: 70%;
    }
}

@media screen and (max-width: 560px) {
    #about-author-footer {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #about-author-footer a:first-child {
        margin-bottom: 15px;
    }

    #social-links-wrapper .socials-wrapper-first, #social-links-wrapper .socials-wrapper-second {
        width: 90%;
    }

    #main-content img {
        width: 276px;
    }
}

@media screen and (max-width: 374px) {
    h2 {
        font-size: .95em;
    }

    #about-author-heading {
        padding-top: 15px;
    }

        
    #about-author-text {
        font-size: .8em;
    }
    
    #additional-text {
        font-size: .7em;
    }
}

@media screen and (max-width: 340px) {
    h2 {
        font-size: .95em;
    }

    #about-author-heading {
        padding-top: 15px;
    }

        
    #about-author-text {
        font-size: .78em;
    }
    
    #additional-text {
        font-size: .68em;
    }
}




