#project-header {
    position: fixed;
    width: 100%;
    top: 0;
    transition: all .4s;
}

#secondary-project-navigation, #primary-project-navigation {
    margin: 0 auto;

    padding: 18px 15px;
    max-width: 1440px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


#secondary-project-navigation .icon-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

#secondary-project-navigation-links, #main-project-navigation {
    display: flex;
    flex-wrap: wrap;
}

#secondary-project-navigation-links {
    gap: 15px;
}

#main-project-navigation {
    gap: 45px;
}

@media screen and (max-width: 950px){
    #secondary-project-navigation {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    #primary-project-navigation {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}