/* === RAJDHANI === */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* ===== AZONIX FONT CASCADING STYLE SHEETS ===== */
@import url(../assets/fonts/azonix/stylesheet.css);

/* ===== NORMALIZE CASCADING STYLE SHEETS ===== */
@import url(./normalize.css);

/* ===== SECTIONS CASCADING STYLE SHEETS ===== */
@import url(./header.css);
@import url(./welcome.css);
@import url(./login.css);
@import url(./register.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* === PROJECT COLORS === */
    --primary-light: #131313;
    --primary-dark: #F6F6F6;
    --secondary-dark: #1313130a;
    --secondary-light: #F6F6F60a;

    --red-enchanted: #DE2B2D;
    --green-enchanted: #24D421;
    --blue-enchanted: #2133D4;
    --purple-enchanted: #901DD6;
    --yellow-enchanted: #F5D424;
    --orange-enchanted: #CE721D;

    /* === PROJECT FONTS === */
    --azonix-font: 'azonixregular', monospace, sans-serif;
    --rajdhani-font: 'Rajdhani', monospace, sans-serif;
    
    /* === PROJECT SIZES === */

    /* === PROJECT FONT WEIGHTS === */
    --rajdhani-light: 300;
    --rajdhani-medium: 400;
    --rajdhani-bold: 500;
    --rajdhani-bolder: 700;
    
    /* === PROJECT SPACINGS === */
}

html {
    overflow-x: hidden;
    color: var(--primary-dark);
    font-family: var(--rajdhani-font);
    text-transform: uppercase;        
}

body {
    background-color: var(--primary-light);
}

ul, ol, li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;

    cursor: default;
}

h2 {
    font-family: var(--azonix-font);
    letter-spacing: .1em;
}

a {
    font-size: .85em;
    letter-spacing: .15em;

    font-family: var(--azonix-font);
    color: var(--primary-dark);        
    text-decoration: none;
    
    opacity: .98;
}

input {
    padding: 5px 8px;
    width: 100%;

    outline: none;
    border: none;

    color: var(--primary-dark);
    background-color: var(--primary-light);
    border-bottom: 1px solid var(--primary-dark);
}

button[type="submit"] {
    padding: 6px 16px;

    cursor: pointer;

    outline: none;
    border: none;

    color: var(--primary-dark);
    background-color: var(--primary-light);
    border: 1px solid var(--primary-dark);

    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: var(--rajdhani-bold);

    transition: all .5s ease-in-out;
}

button[type="submit"]:hover {
    color: var(--primary-light);
    background-color: var(--primary-dark);
    border: 1px solid var(--primary-light);
}

.change-theme {
    --primary-dark: #F6F6F6;
    --primary-light: #131313;
}

.underline-effect {
    padding-bottom: 1px;
    background-image: linear-gradient(var(--primary-dark) 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 1px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.5s;
}

.underline-effect:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 1px;
}

.required-form-input {
    color: red;
    font-weight: var(--rajdhani-bolder);
}

.section-title {
    font-size: 2.2em;
    font-weight: var(--rajdhani-bold);
    letter-spacing: .1em;
    margin-left: .1em;
}

.red-enchanted {
    color: var(--red-enchanted);
} 
