#register {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#register h2 {
    margin-top: 50px;
    height: 12vh;
    font-size: 2.5em;
}

#register form {
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#register form label { 
    width: 100%;
    text-align: right;
}
#register form input {
    margin-bottom: 35px;
}

#register form button {
    margin-bottom: 25px;
}

#dont-have-an-acc {
    font-size: .9em;
}

#register .conditions-row-field {
    margin-bottom: 25px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#register .conditions-row-field label {
    text-align: left;
}

#register .conditions-row-field input {
    margin: 0;
    width: 10%;
}

#have-an-acc {
    font-size: .9em;
}